<div class="container my-2">
    <h1 class="h1 text-center">Write Post</h1>

    <!-- Write Post form -->
    <form>
        <div class="form-group">
          <label >Title</label>
          <input type="text" class="form-control" id="title">
        </div>
        <div class="form-group">
          <label >Body</label>
          <textarea type="text" class="form-control" id="body" rows="10"> </textarea>
        </div>

        <button id='btn' class="btn btn-primary" >Create Post</button>
      </form>
</div>

<script src="../app/write-post.js"></script>